.page {
  font-family: var(--font-cormorant), serif;
}

.topic__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  min-height: calc(100vh - 50px);
  height: auto;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    height: auto;
    margin-top: 30px;
  }
  @media screen and (max-width: 660px) {
    padding: 0;
    margin: 5rem 0 0;
    width: 100%;
  }

  .image__wrapper {
    width: 50%;
    max-width: 600px;
    min-width: unset;
    height: auto;
    margin: 20px;
    position: relative;

    @media screen and (max-width: 1250px) {
      width: 80%;
    }
    @media (max-width: 1024px) {
      width: 100%;
      max-width: 500px;
      margin: 20px auto;
      min-height: 600px;
    }


    @media (max-width: 425px) {
      min-height: 450px;
      padding: 0;
      margin: 0;
    }


  }

  .topic__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6rem 0 6rem 5rem;
    @media (max-width: 1024px) {
      margin: 3rem 0 0;
      padding: 0 3rem;
    }

    h3 {
      font-size: 1.6em;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    .topic_container__span {
      color: rgb(243, 181, 239);
      font-weight: bold;
    }

    .topic_container__list {
      display: flex;
      font-size: 1.6em;
      font-weight: 400;
      flex-direction: column;
      margin-left: 1rem;
      list-style: none;
      margin-bottom: 1rem;

      li {
        position: relative;
        padding-left: 25px;

        &::before {
          content: "";
          width: 10px;
          height: 10px;
          background-color: rgb(243, 181, 239);
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .topic_container__item3 {
      margin-bottom: 0;
    }

    .sign_btn__container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 5rem;
    }
  }
}

.services__section {
  display: flex;
  flex-direction: column;
  max-width: 1550px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 1024px) {
    margin-top: 4rem;
  }

  .services__title {
    font-family: var(--font-cormorant), serif;
    margin: 0 auto;
    font-size: 2.2em;
    font-weight: 400;
    font-style: italic;
  }

  .services__subtitle {
    font-family: var(--font-cormorant), serif;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    margin: 1rem auto 0;
  }
}

.course__section {
  .course__title {
    display: flex;
    justify-content: center;
    font-family: var(--font-cormorant), serif;
    margin: 0 auto;
    font-size: 2.2em;
    font-weight: 400;
    font-style: italic;
  }

  .course__subtitle {
    width: 100%;
    font-family: var(--font-cormorant), serif;
    margin: 0 auto;
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    text-align: center;

    .course__price {
      font-family: var(--font-cormorant), serif;
      font-size: 1.5em;
      font-weight: bold;
      color: rgb(243, 181, 239);
    }
  }

  .course__includes {
    display: flex;
    justify-content: center;
    font-family: var(--font-cormorant), serif;
    margin: 1rem auto 3rem;
    font-size: 2.2em;
    font-weight: 400;
  }

  .course_description__container {
    width: 60%;
    margin: 0 auto;
    font-family: var(--font-cormorant), serif;
    font-weight: 400;
    font-size: 1.6em;
    @media (max-width: 720px) {
      width: 80%;
    }

    .course__content {
      font-weight: 400;
    }

    .course_benefits__list {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      list-style: none;

      li {
        &::before {
          content: "→ ";
        }
      }
    }
  }
}

.sign__section {
  margin-top: 5rem;

  .sign__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-cormorant), serif;
    margin: 0 auto 3rem;
    font-size: 2.2em;
    font-weight: 400;
    font-style: italic;
  }

  .section_sign_btn__container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.reviews__section {
  .reviews__title {
    display: flex;
    justify-content: center;
    font-family: var(--font-cormorant), serif;
    margin: 6rem auto 3rem;
    font-size: 2.2em;
    font-weight: 400;
    font-style: italic;
  }

  .reviews__list {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      position: relative;
      width: 40%;
      max-width: 700px;
      height: 250px;
      margin: 0 auto 3rem;
      min-width: 400px;
      @media screen and (max-width: 450px) {
        min-width: unset;
        width: 100%;

      }

      img {
        object-fit: contain;
      }
    }
  }
}

.contacts__section {
  .contacts__title {
    display: flex;
    justify-content: center;
    font-family: var(--font-cormorant), serif;
    margin: 0 auto 3rem;
    font-size: 2.2em;
    font-weight: 400;
    font-style: italic;
  }

  .social__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;

    li {
      margin-left: 2rem;

      &:first-child {
        &:hover {
          scale: 1.1;
          filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(80%);
        }
      }

      &:nth-child(2) {
        &:hover {
          scale: 1.1;
          filter: invert(25%) sepia(123%) saturate(2452%) hue-rotate(320deg) brightness(119%) contrast(130%); // Розовый
        }
      }

      &:nth-child(3) {
        &:hover {
          scale: 1.1;
          filter: invert(40%) sepia(93%) saturate(1352%) hue-rotate(180deg) brightness(119%) contrast(80%); // Голубой
        }
      }
    }

    li:first-child {
      margin-left: 0;
    }
  }

  .contacts__address {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3 {
      font-size: 1.6em;
      font-weight: 400;
    }
  }

  .map__container {
    width: 50%;
    max-width: 1200px;
    min-width: 300px;
    height: 400pxpx;
    display: flex;
    justify-content: center;
    margin: 0 auto 10rem;
    @media screen and (max-width: 1700px) {
      width: 80%;
    }
 
    @media screen and (max-width: 310px) {
      min-width: unset;
    }
  }
}



